<p style="color: green"><%= notice %></p>

<%= render "showContact" %>

<div class="d-flex gap-4">
  <%= link_to "Edit this contact", edit_contact_path(@contact), class:"btn btn-secondary" %>
  <%= button_to "Destroy this contact", @contact, method: :delete, class:"btn btn-danger" %>
  <%= link_to "Back to contacts", contacts_path, class:"btn btn-primary" %>
</div>
